@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  line-height: 1; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

p {
  font-family: 'Roboto', sans-serif; }

ul, ol {
  margin: 0;
  padding-left: 0; }
  ul li, ol li {
    display: inline-block;
    vertical-align: top;
    list-style-type: none; }
    ul li a, ol li a {
      font-family: 'Roboto', sans-serif;
      text-decoration: none; }

a {
  font-family: 'Roboto', sans-serif;
  color: #000;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  *zoom: 1; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    display: block;
    content: '';
    clear: both; }

.wrap {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto; }

@media only screen and (max-width: 1024px) {
  iframe {
    width: 300px; }

  .header .header-top {
    margin-top: 10px; }
  .header .header-middle .wrap .banner {
    margin-top: 10px;
    width: 65%; }
  .header .header-bottom .wrap .nav-menu .menu-item {
    font-size: 18px; }
    .header .header-bottom .wrap .nav-menu .menu-item:not(:first-child) {
      margin-left: 1%; }

  .container .wrap .block .block-topic .topic .topic-txt {
    top: 38%; }
  .container .wrap .block .fashion .topic-txt {
    top: none;
    bottom: 4px;
    padding-top: 0;
    height: 0; }
  .container .wrap .block .small-block .search-form {
    position: relative; }
    .container .wrap .block .small-block .search-form #search {
      width: 100%;
      height: 40px;
      border-radius: 2px;
      border: 1px solid #6a6a6a; }
    .container .wrap .block .small-block .search-form button {
      position: absolute;
      top: 0;
      right: 0;
      width: 12%;
      height: 40px;
      background: #ff1d36;
      border: 1px solid #ff1d36; }
      .container .wrap .block .small-block .search-form button a:hover .fa-search {
        font-size: 25px; }
      .container .wrap .block .small-block .search-form button a .fa-search {
        font-size: 20px;
        color: #fff; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
    top: 40%; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .hover-02 {
    top: 39%; }
  .container .wrap .block .small-block .block-lr .block-content .connect-menu .connect-list:not(:first-child) {
    margin-left: 1%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-img {
    width: 40%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-01 {
    width: 45%;
    background: #99c244; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-02 {
    width: 30%;
    background: #f76900; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-03 {
    width: 40%;
    background: #f51212; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-04 {
    width: 60%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .detail {
    font-size: 14px; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .date-comment {
    font-size: 14px; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-img {
    width: 49%; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt a .new-top {
    font-size: 17px; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt .new-bottom {
    font-size: 15px;
    color: #6a6a6a; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt .new-button {
    margin-top: 16px;
    height: 35px; }
  .container .wrap .block .small-block .block-lr .block-content .last-list .last-item .last-img {
    width: 20%; }
  .container .wrap .block .small-block .block-lr .block-content .last-list .last-item .last-txt .last-top {
    font-size: 15px; }
  .container .wrap .block .small-block .block-lr .block-content .last-list .last-item .last-txt .last-bottom {
    font-size: 14px; }
  .container .block .wrap .small-block .block-lr .title {
    padding: 30px 0 10px; }
  .container .block .wrap .small-block .block-lr .block-video .video-menu {
    margin-top: 30px; }
    .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item {
      position: relative;
      width: 31%; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item:not(:first-child) {
        margin-left: 3%; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .fa-play {
        position: absolute;
        top: 26%;
        left: 43%;
        padding-top: 18px;
        width: 50px;
        height: 50px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.7); }
        .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .fa-play:hover {
          color: rgba(0, 0, 0, 0.7);
          background: #fff; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .top {
        font-size: 18px;
        margin-top: 20px;
        color: #fff;
        font-weight: bold; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .bottom {
        margin-top: 10px;
        color: #6a6a6a; }
        .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .bottom .ava {
          margin-right: 2%; }
        .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .bottom span {
          color: #a41d2c; } }
@media only screen and (max-width: 768px) {
  .header .header-top .wrap .login {
    float: none;
    width: 100%;
    text-align: center; }
  .header .header-top .wrap .new-sticker {
    display: none; }
  .header .header-top .wrap .social {
    float: none;
    margin-top: 20px;
    width: 100%;
    text-align: center; }
  .header .header-middle .wrap .logo {
    float: none;
    width: 100%;
    text-align: center; }
  .header .header-middle .wrap .banner {
    display: none; }
  .header .header-bottom .wrap {
    margin-top: 40px; }
    .header .header-bottom .wrap .nav-menu .menu-item {
      margin-top: 10px;
      display: block;
      text-align: center; }

  .container .wrap .block {
    margin-top: 60px; }
    .container .wrap .block .block-topic {
      float: none;
      width: 100%; }
      .container .wrap .block .block-topic .topic {
        float: left;
        width: 48%; }
        .container .wrap .block .block-topic .topic .topic-img img {
          width: 100%; }
        .container .wrap .block .block-topic .topic .topic-txt {
          top: 65%; }
      .container .wrap .block .block-topic .food {
        margin-top: 0;
        margin-left: 4%; }
      .container .wrap .block .block-topic .life-style {
        margin-top: 0;
        margin-left: 4%; }
    .container .wrap .block .fashion {
      margin-top: 20px;
      margin-left: 0;
      width: 100%; }
      .container .wrap .block .fashion .topic-img img {
        width: 100%; }
      .container .wrap .block .fashion .topic-txt {
        top: 75%; }
    .container .wrap .block .technology-lifestyle {
      margin-top: 20px;
      margin-left: 0; }
    .container .wrap .block .small-block .block-lr .block-content {
      margin-top: 30px; }
      .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
        padding-left: 0;
        width: 17%;
        letter-spacing: 0;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px; }
      .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .hover-02 {
        width: 35%;
        background: #00abe3; }
      .container .wrap .block .small-block .block-lr .block-content .connect-menu .connect-list:not(:first-child) {
        margin-left: 15%; }
      .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-img {
        width: 20%; }
      .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .date-comment .date {
        width: 35%; }
    .container .wrap .block .small-block #face {
      display: none; }
    .container .wrap .block .left {
      float: none;
      width: 100%; }
    .container .wrap .block .right {
      float: none;
      margin-top: 40px;
      width: 100%; }
  .container .wrap .banner-bottom {
    display: none; }
  .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item {
    width: 45%; }
    .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item:not(:first-child) {
      margin-left: 8%; }
    .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item:nth-child(3n) {
      margin-top: 20px;
      margin-left: 0; }

  .footer .wrap .footer-content .aside {
    float: none;
    width: 100%; }
  .footer .wrap .footer-content .aside-A .contact-detail {
    font-size: 14px;
    margin-top: 20px; }
    .footer .wrap .footer-content .aside-A .contact-detail table tr {
      line-height: 2; }
  .footer .wrap .footer-content .aside-B {
    margin-top: 20px;
    margin-left: 0; }
  .footer .wrap .footer-content .aside-C {
    margin-top: 20%; }
    .footer .wrap .footer-content .aside-C .title {
      padding: 0; }
    .footer .wrap .footer-content .aside-C .block-content {
      margin-top: 20px; }
      .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item {
        width: 100%; }
        .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item:not(:first-child) {
          margin-top: 10px; }
        .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt .date-comment .date {
          float: left;
          width: 20%; }
  .footer .aside-D .copy-txt {
    float: none;
    width: 100%;
    color: #fff;
    text-align: center; }
  .footer .aside-D .contact-icon {
    float: none;
    margin-top: 20px;
    width: 100%;
    text-align: center; } }
@media only screen and (max-width: 425px) {
  .container .wrap .block .block-topic .topic {
    float: none;
    width: 100%; }
    .container .wrap .block .block-topic .topic .topic-txt {
      top: 69%; }
  .container .wrap .block .block-topic .food {
    margin-top: 20px;
    margin-left: 0; }
  .container .wrap .block .block-topic .life-style {
    margin-top: 20px;
    margin-left: 0; }
  .container .wrap .block .fashion .topic-txt {
    top: 53%; }
    .container .wrap .block .fashion .topic-txt .schedule .date {
      width: 50%; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail {
    position: relative;
    float: none;
    width: 100%;
    text-align: center; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
      top: 47%;
      left: 7%; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .hover-02 {
      top: 48%; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail .content-txt {
      margin-left: 4%;
      text-align: left; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-technology {
    float: none;
    margin-top: 20px; }
  .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu {
    text-align: center; }
    .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu .content-list {
      width: 70%;
      vertical-align: top; }
      .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu .content-list:not(:first-child) {
        margin-top: 20px;
        margin-left: 0; }
  .container .wrap .block .small-block .block-lr .block-content .connect-menu .connect-list:not(:first-child) {
    margin-left: 6%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-img {
    width: 35%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .date-comment .date {
    width: 50%; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list:not(:first-child) {
    margin-top: 40px; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-img {
    float: none;
    width: 100%;
    text-align: center; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt {
    float: none;
    margin-top: 20px;
    margin-left: 4%;
    width: 92%; }
  .container .block .wrap .small-block .block-lr .block-video .video-menu {
    text-align: center; }
    .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item {
      width: 100%; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item:not(:first-child) {
        margin-top: 20px;
        margin-left: 0; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt {
        margin-left: 4%;
        text-align: left; }

  .footer .wrap .footer-content .aside-C {
    margin-top: 40%; }
    .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt .date-comment .date {
      width: 35%; } }
@media only screen and (max-width: 386px) {
  .container .wrap .block .block-topic .topic .topic-txt {
    top: 67%; }
  .container .wrap .block .small-block .block-lr .block-content {
    margin-top: 30px; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
      top: 45%; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .hover-02 {
      top: 45%; } }
@media only screen and (max-width: 375px) {
  .container .wrap .block .block-topic .topic .topic-txt {
    top: 66%; }
  .container .wrap .block .fashion .topic-txt {
    top: 50%; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
    top: 45%;
    left: 2%; }
  .container .wrap .block .small-block .block-lr .block-content .connect-menu .connect-list:not(:first-child) {
    margin-left: 3%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .date-comment .date {
    width: 65%; }

  .footer .wrap .footer-content .aside-B .menu-mini {
    width: 33%; }
  .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt .date-comment .date {
    width: 40%; } }
@media only screen and (max-width: 360px) {
  .container .wrap .block .block-topic .topic .topic-txt {
    top: 64%; }
  .container .wrap .block .fashion .topic-txt {
    top: 43%; } }
@media only screen and (max-width: 320px) {
  .container .wrap .block .block-topic .topic .topic-txt {
    top: 60%; }
  .container .wrap .block .fashion .topic-txt {
    top: 37%; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
    top: 38%;
    left: 2%; }
  .container .wrap .block .small-block .block-lr .block-content .connect-menu .connect-list:not(:first-child) {
    margin-left: 1%; } }
::placeholder {
  font-size: 14px;
  padding-left: 3%;
  font-style: italic; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0); } }
.shake {
  -webkit-animation-name: shake;
  animation-name: shake; }

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }
.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing; }

@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }
@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }
.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY; }

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.header .header-top .wrap {
  padding: 10px 0 20px 0; }
  .header .header-top .wrap .login {
    float: left;
    width: 30%; }
    .header .header-top .wrap .login ul .login-item:not(:last-child) {
      margin-right: 5%; }
    .header .header-top .wrap .login ul .login-item a {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-transform: uppercase; }
      .header .header-top .wrap .login ul .login-item a:hover {
        color: #f01b32; }
  .header .header-top .wrap .new-sticker {
    float: left;
    width: 45%; }
  .header .header-top .wrap .social {
    float: right;
    width: 15%;
    text-align: right; }
    .header .header-top .wrap .social ul .fa-icon:not(:last-child) {
      margin-right: 5%; }
.header .header-middle .wrap .logo {
  float: left;
  margin-top: 20px;
  width: 30%; }
  .header .header-middle .wrap .logo a:hover {
    opacity: 1; }
.header .header-middle .wrap .banner {
  float: right; }
.header .header-bottom {
  padding-bottom: 10px;
  box-shadow: 0px 25px 30px #eaeaea; }
  .header .header-bottom .wrap {
    margin-top: 60px; }
    .header .header-bottom .wrap .nav-menu {
      font-size: 0px; }
      .header .header-bottom .wrap .nav-menu .menu-item {
        font-size: 20px; }
        .header .header-bottom .wrap .nav-menu .menu-item:not(:first-child) {
          margin-left: 2%; }
        .header .header-bottom .wrap .nav-menu .menu-item a {
          padding: 6px 5px;
          text-transform: uppercase; }
          .header .header-bottom .wrap .nav-menu .menu-item a:hover {
            color: #ed1b32;
            border-bottom: 2px solid #ed1b32; }
        .header .header-bottom .wrap .nav-menu .menu-item .active {
          color: #ed1b32; }

.container .wrap .block {
  margin-top: 60px; }
  .container .wrap .block .block-topic {
    float: left;
    width: 23.0769230769%; }
    .container .wrap .block .block-topic .topic {
      position: relative; }
      .container .wrap .block .block-topic .topic .topic-txt {
        position: absolute;
        top: 48%;
        padding: 0 2%;
        padding-bottom: 10px;
        z-index: 1;
        color: #fff;
        background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7)); }
        .container .wrap .block .block-topic .topic .topic-txt .title {
          font-size: 16px;
          margin-top: 10px;
          font-weight: bold;
          text-transform: uppercase; }
        .container .wrap .block .block-topic .topic .topic-txt .txt {
          font-size: 16px;
          margin: 10px 0; }
        .container .wrap .block .block-topic .topic .topic-txt .schedule .date {
          float: left;
          width: 50%; }
        .container .wrap .block .block-topic .topic .topic-txt .schedule .comment {
          float: left;
          width: 40%; }
    .container .wrap .block .block-topic .food {
      margin-top: 4px; }
    .container .wrap .block .block-topic .life-style {
      margin-top: 4px; }
  .container .wrap .block .fashion {
    position: relative;
    margin-left: 0.4%;
    width: 52.9914529915%; }
    .container .wrap .block .fashion .topic-txt {
      position: absolute;
      top: 0;
      padding: 0 2%;
      padding-top: 352px;
      height: 100%;
      z-index: 1;
      width: 100%;
      color: #fff;
      background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.3)); }
      .container .wrap .block .fashion .topic-txt .title {
        font-size: 16px;
        margin-top: 10px;
        font-weight: bold;
        text-transform: uppercase; }
      .container .wrap .block .fashion .topic-txt .txt {
        font-size: 20px;
        margin: 15px 0; }
      .container .wrap .block .fashion .topic-txt .schedule .date {
        float: left;
        width: 20%; }
      .container .wrap .block .fashion .topic-txt .schedule .comment {
        float: left;
        width: 40%; }
  .container .wrap .block .technology-lifestyle {
    margin-left: 0.45%; }
  .container .wrap .block .small-block .search-form {
    position: relative; }
    .container .wrap .block .small-block .search-form #search {
      width: 100%;
      height: 40px;
      border-radius: 2px;
      border: 1px solid #6a6a6a; }
    .container .wrap .block .small-block .search-form button {
      position: absolute;
      top: 0;
      right: 0;
      width: 12%;
      height: 40px;
      background: #ff1d36;
      border: 1px solid #ff1d36; }
      .container .wrap .block .small-block .search-form button a:hover .fa-search {
        font-size: 25px; }
      .container .wrap .block .small-block .search-form button a .fa-search {
        font-size: 20px;
        color: #fff; }
  .container .wrap .block .small-block .block-lr .title {
    font-size: 20px;
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #c3c3c3; }
  .container .wrap .block .small-block .block-lr .l-title {
    padding-top: 27px; }
  .container .wrap .block .small-block .block-lr .l-title-02 {
    margin-bottom: 35px; }
  .container .wrap .block .small-block .block-lr .block-content {
    margin-top: 30px; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail {
      position: relative;
      float: left;
      width: 48%; }
      .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a:hover {
        opacity: 1; }
        .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a:hover .topic-hover {
          padding-left: 0;
          width: 17%;
          letter-spacing: 0;
          border-radius: 50px; }
        .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a:hover .hover-02 {
          width: 35%;
          background: #f76900; }
      .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
        font-size: 14px;
        position: absolute;
        top: 48%;
        left: 4%;
        padding-top: 9px;
        padding-left: 11px;
        width: 30px;
        height: 30px;
        overflow: hidden;
        color: #fff;
        text-align: center;
        letter-spacing: 11px;
        text-transform: uppercase;
        background: #f76900;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out; }
      .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .hover-02 {
        background: #00abe3; }
      .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail .content-txt {
        margin-top: 20px; }
        .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail .content-txt .txt-top {
          font-size: 18px;
          margin-bottom: 10px;
          font-weight: bold; }
        .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail .content-txt .txt-middle {
          font-size: 14px;
          margin-bottom: 10px; }
          .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail .content-txt .txt-middle span {
            color: #ff1d36; }
        .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail .content-txt .txt-bottom {
          font-size: 16px;
          margin-top: 20px;
          color: #9c9c9c; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-technology {
      float: right; }
    .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu {
      margin-top: 30px;
      margin-bottom: 70px; }
      .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu .content-list {
        width: 32%;
        vertical-align: top; }
        .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu .content-list:not(:first-child) {
          margin-left: 1.3%; }
        .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu .content-list .img {
          overflow: hidden; }
          .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu .content-list .img img {
            transition: all .5s ease-out; }
          .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu .content-list .img:hover img {
            transform: scale(1.1, 1.1); }
        .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu .content-list .txt {
          font-size: 16px;
          margin-top: 10px;
          font-weight: bold; }
    .container .wrap .block .small-block .block-lr .block-content .connect-menu .connect-list:not(:first-child) {
      margin-left: 7%; }
    .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item {
      width: 100%; }
      .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item:not(:first-child) {
        margin-top: 10px; }
      .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-img {
        float: left;
        overflow: hidden; }
        .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-img img {
          transition: all 0.3s ease-out; }
        .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-img:hover img {
          transform: scale(1.1, 1.1); }
      .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt {
        float: left;
        margin-left: 5%;
        width: 55%; }
        .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .popular-title {
          font-size: 14px;
          margin-bottom: 5px;
          padding: 3px 0;
          width: 55%;
          color: #fff;
          text-align: center;
          text-transform: uppercase; }
        .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-01 {
          width: 45%;
          background: #99c244; }
        .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-02 {
          width: 30%;
          background: #f76900; }
        .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-03 {
          width: 40%;
          background: #f51212; }
        .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-04 {
          width: 55%;
          background: #f76900; }
        .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .detail {
          color: #ff1d36;
          margin-bottom: 10px; }
        .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .date-comment {
          color: #6a6a6a; }
          .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .date-comment .date {
            float: left;
            width: 70%; }
          .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .date-comment .comment {
            float: left;
            width: 30%; }
    .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list:not(:first-child) {
      margin-top: 30px; }
    .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-img {
      float: left; }
    .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt {
      float: right;
      width: 47%; }
      .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt a .new-top {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold; }
      .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt a:hover {
        color: #ff1d36; }
      .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt .new-middle {
        font-size: 14px;
        margin-bottom: 20px;
        color: #6a6a6a; }
        .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt .new-middle span {
          color: #ff1d36; }
      .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt .new-bottom {
        color: #6a6a6a; }
      .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt .new-button {
        margin-top: 50px;
        width: 45%;
        height: 40px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        border: none;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: #ff1d36;
        transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -webkit-transition: all .2s ease-out; }
        .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt .new-button:hover {
          font-weight: bold;
          border-radius: 20px; }
    .container .wrap .block .small-block .block-lr .block-content .last-list .last-item:not(:first-child) {
      margin-top: 20px; }
    .container .wrap .block .small-block .block-lr .block-content .last-list .last-item .last-img {
      float: left; }
    .container .wrap .block .small-block .block-lr .block-content .last-list .last-item .last-txt {
      float: right;
      width: 74%; }
      .container .wrap .block .small-block .block-lr .block-content .last-list .last-item .last-txt .last-top {
        margin-bottom: 10px;
        font-weight: bold; }
  .container .wrap .block .small-block #popular {
    margin-top: 60px; }
  .container .wrap .block .left {
    float: left;
    width: 65.811965812%; }
  .container .wrap .block .right {
    float: right;
    width: 31.6239316239%; }
.container .wrap .banner-bottom .banner-image {
  margin: 60px 20%; }
.container .wrap #block-02 {
  margin-top: 60px; }
.container .wrap #block-04 {
  border-bottom: 1px solid #d2d2d2; }
.container .block {
  padding-bottom: 30px; }
  .container .block .wrap .small-block .block-lr .title {
    font-size: 20px;
    padding: 10px 0;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #3b3b3b; }
  .container .block .wrap .small-block .block-lr .block-video .video-menu {
    margin-top: 30px; }
    .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item {
      position: relative;
      width: 31%; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item:not(:first-child) {
        margin-left: 3%; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-area .video {
        width: 100%;
        height: 217px; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .fa-play {
        position: absolute;
        top: 26%;
        left: 43%;
        padding-top: 18px;
        width: 50px;
        height: 50px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.7); }
        .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .fa-play:hover {
          color: rgba(0, 0, 0, 0.7);
          background: #fff; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .top {
        font-size: 18px;
        margin-top: 20px;
        color: #fff;
        font-weight: bold; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .bottom {
        margin-top: 10px;
        color: #6a6a6a; }
        .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .bottom .ava {
          margin-right: 2%; }
        .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .bottom span {
          color: #a41d2c; }

.footer .wrap .footer-content {
  padding: 60px 0;
  color: #fff; }
  .footer .wrap .footer-content .aside {
    float: left; }
  .footer .wrap .footer-content .aside-A {
    width: 23%; }
    .footer .wrap .footer-content .aside-A .contact-detail {
      font-size: 14px;
      margin-top: 20px; }
      .footer .wrap .footer-content .aside-A .contact-detail table tr {
        line-height: 2; }
  .footer .wrap .footer-content .aside-B {
    margin-top: 58px;
    margin-left: 7%;
    width: 32%; }
    .footer .wrap .footer-content .aside-B .menu-mini {
      float: left;
      width: 30%; }
      .footer .wrap .footer-content .aside-B .menu-mini ul li {
        display: block; }
        .footer .wrap .footer-content .aside-B .menu-mini ul li p {
          line-height: 2; }
          .footer .wrap .footer-content .aside-B .menu-mini ul li p a {
            font-size: 14px;
            color: #7a7a7a;
            font-weight: bold;
            text-transform: uppercase; }
          .footer .wrap .footer-content .aside-B .menu-mini ul li p .active {
            color: #fff; }
  .footer .wrap .footer-content .aside-C {
    float: right;
    width: 32%; }
    .footer .wrap .footer-content .aside-C .title {
      font-size: 20px;
      padding: 10px 0;
      font-weight: bold;
      text-transform: uppercase; }
    .footer .wrap .footer-content .aside-C .block-content {
      margin-top: 20px; }
      .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item {
        width: 100%; }
        .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item:not(:first-child) {
          margin-top: 10px; }
        .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt {
          float: left;
          width: 100%; }
          .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt .popular-title {
            font-size: 14px;
            margin-bottom: 5px;
            padding: 3px 0;
            width: 55%;
            color: #fff;
            text-align: center;
            text-transform: uppercase; }
          .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt #tt-01 {
            width: 25%;
            background: #99c244; }
          .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt #tt-02 {
            margin-top: 10px;
            width: 15%;
            background: #f76900; }
          .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt .detail {
            color: #fff;
            margin-bottom: 10px; }
          .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt .date-comment {
            color: #6a6a6a; }
            .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt .date-comment .date {
              float: left;
              width: 70%; }
            .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt .date-comment .comment {
              float: left;
              width: 30%; }
.footer .aside-D {
  padding: 20px 0;
  background: #1c1c1c; }
  .footer .aside-D .copy-txt {
    font-size: 14px;
    float: left;
    width: 50%;
    color: #fff; }
    .footer .aside-D .copy-txt span {
      color: #ff1d36; }
  .footer .aside-D .contact-icon {
    font-size: 14px;
    float: right;
    width: 50%;
    text-align: right; }
    .footer .aside-D .contact-icon ul li:not(:last-child) {
      margin-right: 3%; }
    .footer .aside-D .contact-icon ul li a {
      color: #fff; }

@media only screen and (max-width: 1024px) {
  iframe {
    width: 300px; }

  .header .header-top {
    margin-top: 10px; }
  .header .header-middle .wrap .banner {
    margin-top: 10px;
    width: 65%; }
  .header .header-bottom .wrap .nav-menu .menu-item {
    font-size: 18px; }
    .header .header-bottom .wrap .nav-menu .menu-item:not(:first-child) {
      margin-left: 1%; }

  .container .wrap .block .block-topic .topic .topic-txt {
    top: 38%; }
  .container .wrap .block .fashion .topic-txt {
    top: none;
    bottom: 4px;
    padding-top: 0;
    height: 0; }
  .container .wrap .block .small-block .search-form {
    position: relative; }
    .container .wrap .block .small-block .search-form #search {
      width: 100%;
      height: 40px;
      border-radius: 2px;
      border: 1px solid #6a6a6a; }
    .container .wrap .block .small-block .search-form button {
      position: absolute;
      top: 0;
      right: 0;
      width: 12%;
      height: 40px;
      background: #ff1d36;
      border: 1px solid #ff1d36; }
      .container .wrap .block .small-block .search-form button a:hover .fa-search {
        font-size: 25px; }
      .container .wrap .block .small-block .search-form button a .fa-search {
        font-size: 20px;
        color: #fff; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
    top: 40%; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .hover-02 {
    top: 39%; }
  .container .wrap .block .small-block .block-lr .block-content .connect-menu .connect-list:not(:first-child) {
    margin-left: 1%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-img {
    width: 40%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-01 {
    width: 45%;
    background: #99c244; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-02 {
    width: 30%;
    background: #f76900; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-03 {
    width: 40%;
    background: #f51212; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt #tt-04 {
    width: 60%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .detail {
    font-size: 14px; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .date-comment {
    font-size: 14px; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-img {
    width: 49%; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt a .new-top {
    font-size: 17px; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt .new-bottom {
    font-size: 15px;
    color: #6a6a6a; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt .new-button {
    margin-top: 16px;
    height: 35px; }
  .container .wrap .block .small-block .block-lr .block-content .last-list .last-item .last-img {
    width: 20%; }
  .container .wrap .block .small-block .block-lr .block-content .last-list .last-item .last-txt .last-top {
    font-size: 15px; }
  .container .wrap .block .small-block .block-lr .block-content .last-list .last-item .last-txt .last-bottom {
    font-size: 14px; }
  .container .block .wrap .small-block .block-lr .title {
    padding: 30px 0 10px; }
  .container .block .wrap .small-block .block-lr .block-video .video-menu {
    margin-top: 30px; }
    .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item {
      position: relative;
      width: 31%; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item:not(:first-child) {
        margin-left: 3%; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .fa-play {
        position: absolute;
        top: 26%;
        left: 43%;
        padding-top: 18px;
        width: 50px;
        height: 50px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.7); }
        .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .fa-play:hover {
          color: rgba(0, 0, 0, 0.7);
          background: #fff; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .top {
        font-size: 18px;
        margin-top: 20px;
        color: #fff;
        font-weight: bold; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .bottom {
        margin-top: 10px;
        color: #6a6a6a; }
        .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .bottom .ava {
          margin-right: 2%; }
        .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt .bottom span {
          color: #a41d2c; } }
@media only screen and (max-width: 768px) {
  .header .header-top .wrap .login {
    float: none;
    width: 100%;
    text-align: center; }
  .header .header-top .wrap .new-sticker {
    display: none; }
  .header .header-top .wrap .social {
    float: none;
    margin-top: 20px;
    width: 100%;
    text-align: center; }
  .header .header-middle .wrap .logo {
    float: none;
    width: 100%;
    text-align: center; }
  .header .header-middle .wrap .banner {
    display: none; }
  .header .header-bottom .wrap {
    margin-top: 40px; }
    .header .header-bottom .wrap .nav-menu .menu-item {
      margin-top: 10px;
      display: block;
      text-align: center; }

  .container .wrap .block {
    margin-top: 60px; }
    .container .wrap .block .block-topic {
      float: none;
      width: 100%; }
      .container .wrap .block .block-topic .topic {
        float: left;
        width: 48%; }
        .container .wrap .block .block-topic .topic .topic-img img {
          width: 100%; }
        .container .wrap .block .block-topic .topic .topic-txt {
          top: 65%; }
      .container .wrap .block .block-topic .food {
        margin-top: 0;
        margin-left: 4%; }
      .container .wrap .block .block-topic .life-style {
        margin-top: 0;
        margin-left: 4%; }
    .container .wrap .block .fashion {
      margin-top: 20px;
      margin-left: 0;
      width: 100%; }
      .container .wrap .block .fashion .topic-img img {
        width: 100%; }
      .container .wrap .block .fashion .topic-txt {
        top: 75%; }
    .container .wrap .block .technology-lifestyle {
      margin-top: 20px;
      margin-left: 0; }
    .container .wrap .block .small-block .block-lr .block-content {
      margin-top: 30px; }
      .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
        padding-left: 0;
        width: 17%;
        letter-spacing: 0;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px; }
      .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .hover-02 {
        width: 35%;
        background: #00abe3; }
      .container .wrap .block .small-block .block-lr .block-content .connect-menu .connect-list:not(:first-child) {
        margin-left: 15%; }
      .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-img {
        width: 20%; }
      .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .date-comment .date {
        width: 35%; }
    .container .wrap .block .small-block #face {
      display: none; }
    .container .wrap .block .left {
      float: none;
      width: 100%; }
    .container .wrap .block .right {
      float: none;
      margin-top: 40px;
      width: 100%; }
  .container .wrap .banner-bottom {
    display: none; }
  .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item {
    width: 45%; }
    .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item:not(:first-child) {
      margin-left: 8%; }
    .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item:nth-child(3n) {
      margin-top: 20px;
      margin-left: 0; }

  .footer .wrap .footer-content .aside {
    float: none;
    width: 100%; }
  .footer .wrap .footer-content .aside-A .contact-detail {
    font-size: 14px;
    margin-top: 20px; }
    .footer .wrap .footer-content .aside-A .contact-detail table tr {
      line-height: 2; }
  .footer .wrap .footer-content .aside-B {
    margin-top: 20px;
    margin-left: 0; }
  .footer .wrap .footer-content .aside-C {
    margin-top: 20%; }
    .footer .wrap .footer-content .aside-C .title {
      padding: 0; }
    .footer .wrap .footer-content .aside-C .block-content {
      margin-top: 20px; }
      .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item {
        width: 100%; }
        .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item:not(:first-child) {
          margin-top: 10px; }
        .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt .date-comment .date {
          float: left;
          width: 20%; }
  .footer .aside-D .copy-txt {
    float: none;
    width: 100%;
    color: #fff;
    text-align: center; }
  .footer .aside-D .contact-icon {
    float: none;
    margin-top: 20px;
    width: 100%;
    text-align: center; } }
@media only screen and (max-width: 425px) {
  .container .wrap .block .block-topic .topic {
    float: none;
    width: 100%; }
    .container .wrap .block .block-topic .topic .topic-txt {
      top: 69%; }
  .container .wrap .block .block-topic .food {
    margin-top: 20px;
    margin-left: 0; }
  .container .wrap .block .block-topic .life-style {
    margin-top: 20px;
    margin-left: 0; }
  .container .wrap .block .fashion .topic-txt {
    top: 53%; }
    .container .wrap .block .fashion .topic-txt .schedule .date {
      width: 50%; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail {
    position: relative;
    float: none;
    width: 100%;
    text-align: center; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
      top: 47%;
      left: 7%; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .hover-02 {
      top: 48%; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail .content-txt {
      margin-left: 4%;
      text-align: left; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-technology {
    float: none;
    margin-top: 20px; }
  .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu {
    text-align: center; }
    .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu .content-list {
      width: 70%;
      vertical-align: top; }
      .container .wrap .block .small-block .block-lr .block-content .content-02 .content-menu .content-list:not(:first-child) {
        margin-top: 20px;
        margin-left: 0; }
  .container .wrap .block .small-block .block-lr .block-content .connect-menu .connect-list:not(:first-child) {
    margin-left: 6%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-img {
    width: 35%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .date-comment .date {
    width: 50%; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list:not(:first-child) {
    margin-top: 40px; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-img {
    float: none;
    width: 100%;
    text-align: center; }
  .container .wrap .block .small-block .block-lr .block-content .new-menu .new-list .new-txt {
    float: none;
    margin-top: 20px;
    margin-left: 4%;
    width: 92%; }
  .container .block .wrap .small-block .block-lr .block-video .video-menu {
    text-align: center; }
    .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item {
      width: 100%; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item:not(:first-child) {
        margin-top: 20px;
        margin-left: 0; }
      .container .block .wrap .small-block .block-lr .block-video .video-menu .video-item .video-txt {
        margin-left: 4%;
        text-align: left; }

  .footer .wrap .footer-content .aside-C {
    margin-top: 40%; }
    .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt .date-comment .date {
      width: 35%; } }
@media only screen and (max-width: 386px) {
  .container .wrap .block .block-topic .topic .topic-txt {
    top: 67%; }
  .container .wrap .block .small-block .block-lr .block-content {
    margin-top: 30px; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
      top: 45%; }
    .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .hover-02 {
      top: 45%; } }
@media only screen and (max-width: 375px) {
  .container .wrap .block .block-topic .topic .topic-txt {
    top: 66%; }
  .container .wrap .block .fashion .topic-txt {
    top: 50%; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
    top: 45%;
    left: 2%; }
  .container .wrap .block .small-block .block-lr .block-content .connect-menu .connect-list:not(:first-child) {
    margin-left: 3%; }
  .container .wrap .block .small-block .block-lr .block-content .popular-list .popular-item .popular-txt .date-comment .date {
    width: 65%; }

  .footer .wrap .footer-content .aside-B .menu-mini {
    width: 33%; }
  .footer .wrap .footer-content .aside-C .block-content .popular-list .popular-item .popular-txt .date-comment .date {
    width: 40%; } }
@media only screen and (max-width: 360px) {
  .container .wrap .block .block-topic .topic .topic-txt {
    top: 64%; }
  .container .wrap .block .fashion .topic-txt {
    top: 43%; } }
@media only screen and (max-width: 320px) {
  .container .wrap .block .block-topic .topic .topic-txt {
    top: 60%; }
  .container .wrap .block .fashion .topic-txt {
    top: 37%; }
  .container .wrap .block .small-block .block-lr .block-content .content-01 .content-detail a .topic-hover {
    top: 38%;
    left: 2%; }
  .container .wrap .block .small-block .block-lr .block-content .connect-menu .connect-list:not(:first-child) {
    margin-left: 1%; } }

/*# sourceMappingURL=main.css.map */
