@charset "UTF-8";
@import "mixin";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	line-height: 1;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	@include ff();
	margin: 0;
	padding: 0;
    border: 0;
    outline: 0;
}

p {
	@include ff();
}

ul, ol {
	margin: 0;
  	padding-left: 0;
	//font-size: 0;
	li {
		display: inline-block;
		vertical-align: top;
		list-style-type: none;
		a {
			@include ff();
			text-decoration: none;
		}
	}
}

a {
	@include ff();
	color: #000;
	text-decoration: none;
	// &:hover {
	// 	opacity: 0.7;
	// }
}

img {
	max-width: 100%;
	height: auto;
	*zoom: 1;
	// &:hover {
	// 	opacity: 0.8;
	// }
}

.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		content: '';
		clear: both;
	}
}

.wrap {
	//border: 1px solid #f00;
	max-width: 1170px;
	width: 95%;
	margin: 0 auto;
}