@charset "UTF-8";
@import "mixin";
@import "responsive";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


::placeholder {
	@include fz(14);
	padding-left: 3%;
	font-style: italic;
}

// ===========================ANIMATE=========================

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}


@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}


@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}


@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}


@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

// ==================================CONTENT============================

.header {
	.header-top {
		.wrap {
			padding: 10px 0 20px 0;
			.login {
				float: left;
				width: 30%;
				ul {
					.login-item {
						&:not(:last-child) {
							margin-right: 5%;
						}
						a {
							@include fz(14);
							@include ff();
							font-weight: bold;
							text-transform: uppercase;
							&:hover {
								color: #f01b32;
							}
						}
					}
				}
			}
			.new-sticker {
				float: left;
				width: 45%;
			}
			.social {
				float: right;
				width: 15%;
				text-align: right;
				ul {
					.fa-icon {
						&:not(:last-child) {
							margin-right: 5%;
						}
					}
				}
			}
		}
	}
	.header-middle {
		.wrap {
			.logo {
				float: left;
				margin-top: 20px;
				width: 30%;
				a {
					&:hover {
						opacity: 1;
					}
				}
			}
			.banner {
				float: right;
			}
		}
	}
	.header-bottom {
		padding-bottom: 10px;
		box-shadow: 0px 25px 30px #eaeaea;
		//0px: chieu ngang; 25px: chieu doc; 30px: do bong
		.wrap {
			margin-top: 60px;
			.nav-menu {
				@include fz(0);
				.menu-item {
					@include fz(20);
					&:not(:first-child) {
						margin-left: 2%;
					}
					a {
						padding: 6px 5px;
						text-transform: uppercase;
						&:hover {
							color: #ed1b32;
							border-bottom: 2px solid #ed1b32;
						}
					}
					.active {
						color: #ed1b32;
					}
				}
			}
		}
	}
}

.container {
	.wrap {
		.block {
			margin-top: 60px;
			.block-topic {
				float: left;
				width: 270 / 1170 * 100%;
				.topic {
					position: relative;
					.topic-txt {
						position: absolute;
						top: 48%;
						padding: 0 2%;
						padding-bottom: 10px;
						z-index: 1;
						color: #fff;
						background: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.7));
						.title {
							@include fz(16);
							margin-top: 10px;
							font-weight: bold;
							text-transform: uppercase;
						}
						.txt {
							@include fz(16);
							margin: 10px 0;
						}
						.schedule {
							.date {
								float: left;
								width: 50%;
							}
							.comment {
								float: left;
								width: 40%;
							}
						}
					}
				}
				.food {
					margin-top: 4px;
				}
				.life-style {
					margin-top: 4px;
				}
			}
			.fashion {
				position: relative;
				margin-left: 0.4%;
				width: 620 / 1170 * 100%;
				.topic-txt {
					position: absolute;
					top: 0;
					padding: 0 2%;
					padding-top: 352px;
					height: 100%;
					z-index: 1;
					width: 100%;
					color: #fff;
					background: linear-gradient(rgba(255,255,255,0.05), rgba(0,0,0,0.3));
					.title {
						@include fz(16);
						margin-top: 10px;
						font-weight: bold;
						text-transform: uppercase;
					}
					.txt {
						@include fz(20);
						margin: 15px 0;
					}
					.schedule {
						.date {
							float: left;
							width: 20%;
						}
						.comment {
							float: left;
							width: 40%;
						}
					}
				}
			}
			.technology-lifestyle {
				margin-left: 0.45%;
			}

			.small-block {
				.search-form {
					position: relative;
					#search {
						width: 100%;
						height: 40px;
						border-radius: 2px;
						border: 1px solid #6a6a6a;
					}
					button {
						position: absolute;
						top: 0;
						right: 0;
						width: 12%;
						height: 40px;
						background: #ff1d36;
						border: 1px solid #ff1d36;
						a {
							&:hover {
								.fa-search {
									@include fz(25);
								}
							}
							.fa-search {
								@include fz(20);
								color: #fff;
							}
						}
					}
				}

				.block-lr {
					.title {
						@include fz(20);
						padding: 10px 0;
						font-weight: bold;
						text-transform: uppercase;
						border-bottom: 1px solid #c3c3c3;
					}
					.l-title {
						padding-top: 27px;
					}
					.l-title-02 {
						margin-bottom: 35px;
					}
					.block-content {
						margin-top: 30px;
						.content-01 {
							.content-detail {
								position: relative;
								float: left;
								width: 48%;
								a {
									&:hover {
										opacity: 1;
										.topic-hover {
											padding-left: 0;
											width: 17%;
											letter-spacing: 0;
											border-radius: 50px;
										}
										.hover-02 {
											width: 35%;
											background: #f76900;
										}
									}
									.topic-hover {
										@include fz(14);
										position: absolute;
										top: 48%;
										left: 4%;
										padding-top: 9px;
										padding-left: 11px;
										width: 30px;
										height: 30px;
										overflow: hidden;
										color: #fff;
										text-align: center;
										letter-spacing: 11px;
										text-transform: uppercase;
										background: #f76900;
										border-radius: 50%;
										-moz-border-radius: 50%;
										-webkit-border-radius: 50%;
										transition: all .5s ease-out;
										-moz-transition: all .5s ease-out;
										-webkit-transition: all .5s ease-out;
									}
									.hover-02 {
										background: #00abe3;
									}
								}
								
								.content-txt {
									margin-top: 20px;
									.txt-top {
										@include fz(18);
										margin-bottom: 10px;
										font-weight: bold;
									}
									.txt-middle {
										@include fz(14);
										margin-bottom: 10px;
										span {
											color: #ff1d36;
										}
									}
									.txt-bottom {
										@include fz(16);
										margin-top: 20px;
										color: #9c9c9c;
									}
								}
							}
							.content-technology {
								float: right;
							}
						}

						.content-02 {
							.content-menu {
								margin-top: 30px;
								margin-bottom: 70px;
								.content-list {
									width: 32%;
									vertical-align: top;
									&:not(:first-child) {
										margin-left: 1.3%;
									}
									.img {
										overflow: hidden;
										img {
											transition: all .5s ease-out;
										}
										&:hover {
											img {
												transform: scale(1.1, 1.1);
											}
										}
									}
									.txt {
										@include fz(16);
										margin-top: 10px;
										font-weight: bold;
									}
								}
							}
						}

						.connect-menu {
							.connect-list {
								&:not(:first-child) {
									margin-left: 7%;
								}
							}
						}

						.popular-list {
							.popular-item {
								width: 100%;
								&:not(:first-child) {
									margin-top: 10px;
								}
								.popular-img {
									float: left;
									overflow: hidden;
									img {
										transition: all 0.3s ease-out;
									}
									&:hover {
										img {
											transform: scale(1.1, 1.1);
										}
									}
								}
								.popular-txt {
									float: left;
									margin-left: 5%;
									width: 55%;
									.popular-title {
										@include fz(14);
										margin-bottom: 5px;
										padding: 3px 0;
										width: 55%;
										color: #fff;
										text-align: center;
										text-transform: uppercase;
									}
									#tt-01 {
										width: 45%;
										background: #99c244;
									}
									#tt-02 {
										width: 30%;
										background: #f76900;
									}
									#tt-03 {
										width: 40%;
										background: #f51212;
									}
									#tt-04 {
										width: 55%;
										background: #f76900;
									}

									.detail {
										color: #ff1d36;
										margin-bottom: 10px;
									}
									.date-comment {
										color: #6a6a6a;
										.date {
											float: left;
											width: 70%;
										}
										.comment {
											float: left;
											width: 30%;
										}
									}
								}
							}
						}

						.new-menu {
							.new-list {
								&:not(:first-child) {
									margin-top: 30px;
								}
								.new-img {
									float: left;
								}
								.new-txt {
									float: right;
									width: 47%;
									a {
										.new-top {
											@include fz(18);
											margin-bottom: 10px;
											font-weight: bold;
										}
										&:hover {
											color: #ff1d36;
										}
									}
									.new-middle {
										@include fz(14);
										margin-bottom: 20px;
										color: #6a6a6a;
										span {
											color: #ff1d36;
										}
									}
									.new-bottom {
										color: #6a6a6a;
									}
									.new-button {
										margin-top: 50px;
										width: 45%;
										height: 40px;
										color: #fff;
										text-align: center;
										text-transform: uppercase;
										border: none;
										border-radius: 3px;
										-moz-border-radius: 3px;
										-webkit-border-radius: 3px;
										background: #ff1d36;
										transition: all .2s ease-out;
										-moz-transition: all .2s ease-out;
										-webkit-transition: all .2s ease-out;
										&:hover {
											font-weight: bold;
											border-radius: 20px;
										}
									}
								}
							}
						}

						.last-list {
							.last-item {
								&:not(:first-child) {
									margin-top: 20px;
								}
								.last-img {
									float: left;
								}
								.last-txt {
									float: right;
									width: 74%;
									.last-top {
										margin-bottom: 10px;
										font-weight: bold;
									}
								}
							}
						}
					}
				}

				#popular {
					margin-top: 60px;
				}
			}
			.left {
				float: left;
				width: 770 / 1170 * 100%;
			}
			.right {
				float: right;
				width: 370 / 1170 * 100%;
			}
		}

		.banner-bottom {
			.banner-image {
				margin: 60px 20%;
			}
		}

		#block-02 {
			margin-top: 60px;
		}
		#block-04 {
			border-bottom: 1px solid #d2d2d2;
		}
	}

	.block {
		padding-bottom: 30px;
		.wrap {
			.small-block {
				.block-lr {
					.title {
						@include fz(20);
						padding: 10px 0;
						color: #fff;
						font-weight: bold;
						text-transform: uppercase;
						border-bottom: 1px solid #3b3b3b;
					}

					.block-video {
						.video-menu {
							margin-top: 30px;
							.video-item {
								position: relative;
								width: 31%;
								&:not(:first-child) {
									margin-left: 3%;
								}
								.video-area {
									.video {
										width: 100%;
										height: 217px;
									}
								}
								.fa-play {
									position: absolute;
									top: 26%;
									left: 43%;
									padding-top: 18px;
									width: 50px;
									height: 50px;
									color: #fff;
									text-align: center;
									border-radius: 50%;
									background: rgba(0,0,0,0.7);
									&:hover {
										color: rgba(0,0,0,0.7);
										background: #fff;
									}
								}
								.video-txt {
									.top {
										@include fz(18);
										margin-top: 20px;
										color: #fff;
										font-weight: bold;
									}
									.bottom {
										margin-top: 10px;
										color: #6a6a6a;
										.ava {
											margin-right: 2%;
										}
										span {
											color: #a41d2c;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.footer {
	.wrap {
		.footer-content {
			padding: 60px 0;
			color: #fff;
			.aside {
				float: left;
			}
			.aside-A {
				width: 23%;
				.contact-detail {
					@include fz(14);
					margin-top: 20px;
					table {
						tr {
							line-height: 2;
						}
					}
				} 
			}
			.aside-B {
				margin-top: 58px;
				margin-left: 7%;
				width: 32%; 
				.menu-mini {
					float: left;
					width: 30%;
					ul {
						li {
							display: block;
							p {
								line-height: 2;
								a {
									@include fz(14);
									color: #7a7a7a;
									font-weight: bold;
									text-transform: uppercase;
								}
								.active {
									color: #fff;
								}
							}
						}
					}
				}
			}
			.aside-C {
				float: right;
				width: 32%;
				.title {
					@include fz(20);
					padding: 10px 0;
					font-weight: bold;
					text-transform: uppercase;
				}
				.block-content {
					margin-top: 20px;
					.popular-list {
						.popular-item {
							width: 100%;
							&:not(:first-child) {
								margin-top: 10px;
							}
							.popular-txt {
								float: left;
								width: 100%;
								.popular-title {
									@include fz(14);
									margin-bottom: 5px;
									padding: 3px 0;
									width: 55%;
									color: #fff;
									text-align: center;
									text-transform: uppercase;
								}
								#tt-01 {
									width: 25%;
									background: #99c244;
								}
								#tt-02 {
									margin-top: 10px;
									width: 15%;
									background: #f76900;
								}

								.detail {
									color: #fff;
									margin-bottom: 10px;
								}
								.date-comment {
									color: #6a6a6a;
									.date {
										float: left;
										width: 70%;
									}
									.comment {
										float: left;
										width: 30%;
									}
								}
							}
						}
					}
				}  
			}
		}
	}
	.aside-D {
		padding: 20px 0;
		background: #1c1c1c;
		.copy-txt {
			@include fz(14);
			float: left;
			width: 50%;
			color: #fff;
			span {
				color: #ff1d36;
			}
		}
		.contact-icon {
			@include fz(14);
			float: right;
			width: 50%;
			text-align: right;
			ul {
				li {
					&:not(:last-child) {
						margin-right: 3%;
					}
					a {
						color: #fff;
					}
				}
			}
		}
	}
}