@charset "UTF-8";

@media only screen and (max-width: 1024px) {
	iframe {
		width: 300px;
	}
	.header {
		.header-top {
			margin-top: 10px;
		}

		.header-middle {
			.wrap {
				.banner {
					margin-top: 10px;
					width: 65%;
				}
			}
		}
		.header-bottom {
			.wrap {
				.nav-menu {
					.menu-item {
						@include fz(18);
						&:not(:first-child) {
							margin-left: 1%;
						}
					}
				}
			}
		}
	}
	.container {
		.wrap {
			.block {
				.block-topic {
					.topic {
						.topic-txt {
							top: 38%;
						}
					}
				}
				.fashion {
					.topic-txt {
						top: none;
						bottom: 4px;
						padding-top: 0;
						height: 0;
					}
				}

				.small-block {
					.search-form {
						position: relative;
						#search {
							width: 100%;
							height: 40px;
							border-radius: 2px;
							border: 1px solid #6a6a6a;
						}
						button {
							position: absolute;
							top: 0;
							right: 0;
							width: 12%;
							height: 40px;
							background: #ff1d36;
							border: 1px solid #ff1d36;
							a {
								&:hover {
									.fa-search {
										@include fz(25);
									}
								}
								.fa-search {
									@include fz(20);
									color: #fff;
								}
							}
						}
					}

					.block-lr {
						.block-content {
							.content-01 {
								.content-detail {
									a {
										.topic-hover {
											top: 40%;
										}
										.hover-02 {
											top: 39%;
										}
									}
								}
							}

							.connect-menu {
								.connect-list {
									&:not(:first-child) {
										margin-left: 1%;
									}
								}
							}

							.popular-list {
								.popular-item {
									.popular-img {
										width: 40%;
									}
									.popular-txt {
										#tt-01 {
											width: 45%;
											background: #99c244;
										}
										#tt-02 {
											width: 30%;
											background: #f76900;
										}
										#tt-03 {
											width: 40%;
											background: #f51212;
										}
										#tt-04 {
											width: 60%;
										}
										.detail {
											@include fz(14);
										}
										.date-comment {
											@include fz(14);
										}
									}
								}
							}

							.new-menu {
								.new-list {
									.new-img {
										width: 49%;
									}
									.new-txt {
										a {
											.new-top {
												@include fz(17);
											}
										}
										.new-bottom {
											@include fz(15);
											color: #6a6a6a;
										}
										.new-button {
											margin-top: 16px;
											height: 35px;
										}
									}
								}
							}

							.last-list {
								.last-item {
									.last-img {
										width: 20%;
									}
									.last-txt {
										.last-top {
											@include fz(15);
										}
										.last-bottom {
											@include fz(14);
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.block {
			.wrap {
				.small-block {
					.block-lr {
						.title {
							padding: 30px 0 10px;
						}

						.block-video {
							.video-menu {
								margin-top: 30px;
								.video-item {
									position: relative;
									width: 31%;
									&:not(:first-child) {
										margin-left: 3%;
									}
									.fa-play {
										position: absolute;
										top: 26%;
										left: 43%;
										padding-top: 18px;
										width: 50px;
										height: 50px;
										color: #fff;
										text-align: center;
										border-radius: 50%;
										background: rgba(0,0,0,0.7);
										&:hover {
											color: rgba(0,0,0,0.7);
											background: #fff;
										}
									}
									.video-txt {
										.top {
											@include fz(18);
											margin-top: 20px;
											color: #fff;
											font-weight: bold;
										}
										.bottom {
											margin-top: 10px;
											color: #6a6a6a;
											.ava {
												margin-right: 2%;
											}
											span {
												color: #a41d2c;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.header {
		.header-top {
			.wrap {
				.login {
					float: none;
					width: 100%;
					text-align: center;
				}
				.new-sticker {
					display: none;
				}
				.social {
					float: none;
					margin-top: 20px;
					width: 100%;
					text-align: center;
				}
			}
		}
		.header-middle {
			.wrap {
				.logo {
					float: none;
					width: 100%;
					text-align: center;
				}
				.banner {
					display: none;
				}
			}
		}
		.header-bottom {
			.wrap {
				margin-top: 40px;
				.nav-menu {
					.menu-item {
						margin-top: 10px;
						display: block;
						text-align: center;
					}
				}
			}
		}
	}

	.container {
		.wrap {
			.block {
				margin-top: 60px;

				.block-topic {
					float: none;
					width: 100%;
					.topic {
						float: left;
						width: 48%;
						.topic-img {
							img {
								width: 100%;
							}
						}
						.topic-txt {
							top: 65%;
						}
					}
					.food {
						margin-top: 0;
						margin-left: 4%;
					}
					.life-style {
						margin-top: 0;
						margin-left: 4%;
					}
				}
				.fashion {
					margin-top: 20px;
					margin-left: 0;
					width: 100%;
					.topic-img {
						img {
							width: 100%;
						}
					}
					.topic-txt {
						top: 75%;
					}
				}
				.technology-lifestyle {
					margin-top: 20px;
					margin-left: 0;
				}

				.small-block {
					.block-lr {
						.block-content {
							margin-top: 30px;
							.content-01 {
								.content-detail {
									a {
										.topic-hover {
											padding-left: 0;
											width: 17%;
											letter-spacing: 0;
											border-radius: 50px;
											-moz-border-radius: 50px;
											-webkit-border-radius: 50px;
										}
										.hover-02 {
											width: 35%;
											background: #00abe3;
										}
									}
								}
							}

							.connect-menu {
								.connect-list {
									&:not(:first-child) {
										margin-left: 15%;
									}
								}
							}

							.popular-list {
								.popular-item {
									.popular-img {
										width: 20%;
									}
									.popular-txt {
										.date-comment {
											.date {
												width: 35%;
											}
										}
									}
								}
							}
						}
					}
					#face {
						display: none;
					}
				}
				.left {
					float: none;
					width: 100%;
				}
				.right {
					float: none;
					margin-top: 40px;
					width: 100%;
				}
			}
			.banner-bottom {
				display: none;
			}
		}

		.block {
			.wrap {
				.small-block {
					.block-lr {
						.block-video {
							.video-menu {
								.video-item {
									width: 45%;
									&:not(:first-child) {
										margin-left: 8%;
									}
									&:nth-child(3n) {
										margin-top: 20px;
										margin-left: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.footer {
		.wrap {
			.footer-content {
				.aside {
					float: none;
					width: 100%;
				}
				.aside-A {
					.contact-detail {
						@include fz(14);
						margin-top: 20px;
						table {
							tr {
								line-height: 2;
							}
						}
					} 
				}
				.aside-B {
					margin-top: 20px;
					margin-left: 0;
				}
				.aside-C {
					margin-top: 20%;
					.title {
						padding: 0;
					}
					.block-content {
						margin-top: 20px;
						.popular-list {
							.popular-item {
								width: 100%;
								&:not(:first-child) {
									margin-top: 10px;
								}
								.popular-txt {
									.date-comment {
										.date {
											float: left;
											width: 20%;
										}
									}
								}
							}
						}
					}  
				}
			}
		}
		.aside-D {
			.copy-txt {
				float: none;
				width: 100%;
				color: #fff;
				text-align: center;
			}
			.contact-icon {
				float: none;
				margin-top: 20px;
				width: 100%;
				text-align: center;
			}
		}
	}
}

@media only screen and (max-width: 425px) {
	.container {
		.wrap {
			.block {
				.block-topic {
					.topic {
						float: none;
						width: 100%;
						.topic-txt {
							top: 69%;
						}
					}
					.food {
						margin-top: 20px;
						margin-left: 0;
					}
					.life-style {
						margin-top: 20px;
						margin-left: 0;
					}
				}
				.fashion {
					.topic-txt {
						top: 53%;
						.schedule {
							.date {
								width: 50%;
							}
						}
					}
				}

				.small-block {
					.block-lr {
						.block-content {
							.content-01 {
								.content-detail {
									position: relative;
									float: none;
									width: 100%;
									text-align: center;
									a {
										.topic-hover {
											top: 47%;
											left: 7%;
										}
										.hover-02 {
											top: 48%;
										}
									}
									.content-txt {
										margin-left: 4%;
										text-align: left;
									}
								}
								.content-technology {
									float: none;
									margin-top: 20px;
								}
							}

							.content-02 {
								.content-menu {
									text-align: center;
									.content-list {
										width: 70%;
										vertical-align: top;
										&:not(:first-child) {
											margin-top: 20px;
											margin-left: 0;
										}
									}
								}
							}

							.connect-menu {
								.connect-list {
									&:not(:first-child) {
										margin-left: 6%;
									}
								}
							}

							.popular-list {
								.popular-item {
									.popular-img {
										width: 35%;
									}
									.popular-txt {
										.date-comment {
											.date {
												width: 50%;
											}
										}
									}
								}
							}

							.new-menu {
								.new-list {
									&:not(:first-child) {
										margin-top: 40px;
									}
									.new-img {
										float: none;
										width: 100%;
										text-align: center;
									}
									.new-txt {
										float: none;
										margin-top: 20px;
										margin-left: 4%;
										width: 92%;
									}
								}
							}
						}
					}
				}
			}
		}

		.block {
			.wrap {
				.small-block {
					.block-lr {
						.block-video {
							.video-menu {
								text-align: center;
								.video-item {
									width: 100%;
									&:not(:first-child) {
										margin-top: 20px;
										margin-left: 0;
									}
									.video-txt {
										margin-left: 4%;
										text-align: left;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.footer {
		.wrap {
			.footer-content {
				.aside-C {
					margin-top: 40%;
					.block-content {
						.popular-list {
							.popular-item {
								.popular-txt {
									.date-comment {
										.date {
											width: 35%;
										}
									}
								}
							}
						}
					}  
				}
			}
		}
	}
}

@media only screen and (max-width: 386px) {
	.container {
		.wrap {
			.block {

				.block-topic {
					.topic {
						.topic-txt {
							top: 67%;
						}
					}
				}

				.small-block {
					.block-lr {
						.block-content {
							margin-top: 30px;
							.content-01 {
								.content-detail {
									a {
										.topic-hover {
											top: 45%;
										}
										.hover-02 {
											top: 45%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 375px) {
	.container {
		.wrap {
			.block {
				.block-topic {
					.topic {
						.topic-txt {
							top: 66%;
						}
					}
				}
				.fashion {
					.topic-txt {
						top: 50%;
					}
				}

				.small-block {
					.block-lr {
						.block-content {
							.content-01 {
								.content-detail {
									a {
										.topic-hover {
											top: 45%;
											left: 2%;
										}
										// .hover-02 {
										// 	top: 45%;
										// }
									}
								}
							}

							.connect-menu {
								.connect-list {
									&:not(:first-child) {
										margin-left: 3%;
									}
								}
							}

							.popular-list {
								.popular-item {
									.popular-txt {
										.date-comment {
											.date {
												width: 65%;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.footer {
		.wrap {
			.footer-content {
				.aside-B {
					.menu-mini {
						width: 33%;
					}
				}
				.aside-C {
					.block-content {
						.popular-list {
							.popular-item {
								.popular-txt {
									.date-comment {
										.date {
											width: 40%;
										}
									}
								}
							}
						}
					}  
				}
			}
		}
	}
}

@media only screen and (max-width: 360px) {
	.container {
		.wrap {
			.block {
				.block-topic {
					.topic {
						.topic-txt {
							top: 64%;
						}
					}
				}
				.fashion {
					.topic-txt {
						top: 43%;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 320px) {
	.container {
		.wrap {
			.block {
				.block-topic {
					.topic {
						.topic-txt {
							top: 60%;
						}
					}
				}
				.fashion {
					.topic-txt {
						top: 37%;
					}
				}

				.small-block {
					.block-lr {
						.block-content {
							.content-01 {
								.content-detail {
									a {
										.topic-hover {
											top: 38%;
											left: 2%;
										}
										// .hover-02 {
										// 	top: 45%;
										// }
									}
								}
							}

							.connect-menu {
								.connect-list {
									&:not(:first-child) {
										margin-left: 1%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}